<div class="stream-container">
  <div *ngIf="isStreamAdd" class="mat-elevation-z8">
    <form [formGroup]="addStreamForm" (ngSubmit)="addStream()">
      <mat-form-field>
        <input matInput placeholder="Stream Name" formControlName="name" type="text" required>
        <mat-error *ngIf="addStreamForm.controls['name'].hasError('required')">
          Stream name is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="addStreamForm.controls['name'].hasError('pattern')">
          Please enter a valid Stream name
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description" type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Status" formControlName="status" #statusSelect="matSelect" required>
          <mat-option *ngFor="let status of statusList" [value]="status.Id">
            {{ status.Name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addStreamForm.controls['status'].hasError('required')">
          Status is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Add</button>
    </form>
  </div>
  <div *ngIf="isStreamDelete" class="mat-elevation-z8">
    <mat-table #table [dataSource]="streamDataSource">
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button (click)="deleteStream(row.Id)" color="primary">Delete</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Stream Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.Name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.Description }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalLength" [pageSize]="10">
    </mat-paginator>
  </div>
</div>
