<div class="div-button">
    <a mat-raised-button color="warn" routerLink="/admission" class="link">
        <div class="content">
            <i class="material-icons md-48">account_circle</i>
            <span>Admission</span>
        </div>
    </a>
    <a mat-raised-button color="primary" routerLink="/finance" class="link">
        <div class="content">
            <i class="material-icons md-48">account_balance</i>
            <span>Finance</span>
        </div>
    </a>
    <a mat-raised-button color="accent" routerLink="/config" class="link">
      <div class="content">
          <i class="material-icons md-48">settings</i>
          <span>Configuration</span>
      </div>
  </a>
    <a mat-raised-button color="accent" routerLink="/report" class="link">
        <div class="content">
            <i class="material-icons md-48">description</i>
            <span>Report</span>
        </div>
    </a>
</div>
