<mat-sidenav-container>

    <div class="div-button">
        <a mat-raised-button color="warn" routerLink="/dashboard" class="link">
            <div class="content">
                <i class="material-icons md-48">home</i>
                <span>Home</span>
            </div>
        </a>
        <a mat-raised-button color="primary" routerLink="/config/class" class="link">
            <div class="content">
                <i class="material-icons md-48">class</i>
                <span>Class</span>
            </div>
        </a>
        <a mat-raised-button color="accent" routerLink="/config/fee" class="link">
            <div class="content">
                <i class="material-icons md-48">account_balance_wallet</i>
                <span>Fee</span>
            </div>
        </a>
        <a mat-raised-button color="primary" routerLink="/config/bus" class="link">
          <div class="content">
              <i class="material-icons md-48">directions_bus</i>
              <span>Bus</span>
          </div>
      </a>
      <a mat-raised-button color="accent" routerLink="/config/user" class="link">
          <div class="content">
              <i class="material-icons md-48">supervisor_account</i>
              <span>User</span>
          </div>
      </a>
    </div>
