$url_base:"assets/";
$white: #ffffff;
$color_paradiso_approx: #3b8590;
$color_gossamer_approx: #099e84;
$color_mojo_approx: #c64444;
$color_well_read_approx: rgba(183, 61, 44, 1);
$color_tundora_approx: #444;
$black: #000000;
$color_mercury_approx: #e6e6e6;
$color_quill_gray_approx: #d8d5d5;
$color_flame_pea_approx: #eb5a46;
$color_lavender_approx: #b384fb;
$color_apple_approx: #42a948;
$color_apple_blossom_approx: #a94442;
//carasoul
$color_alto_approx: #ddd;
$color_quill_gray_approx: #d5d5d5;
$color_silver_chalice_approx: #aaa;
$color_gallery_approx: #eee;
$magenta_fuchsia: magenta;