<div class="div-button">
    <a mat-raised-button color="warn" routerLink="/dashboard" class="link">
        <div class="content">
            <i class="material-icons md-48">home</i>
            <span>Home</span>
        </div>
    </a>
    <a mat-raised-button color="primary" routerLink="/finance/fee" class="link">
        <div class="content">
            <i class="material-icons md-48">note_add</i>
            <span>Fee</span>
        </div>
    </a>
    <a mat-raised-button color="accent" routerLink="/finance/account" class="link">
        <div class="content">
            <i class="material-icons  md-48">attach_money</i>
            <span>Account</span>
        </div>
    </a>
</div>
