<div class="div-button">
    <a mat-raised-button color="warn" routerLink="/dashboard" class="link">
        <div class="content">
            <i class="material-icons md-48">home</i>
            <span>Home</span>
        </div>
    </a>
    <a mat-raised-button color="primary" routerLink="/admission/admission" class="link">
        <div class="content">
            <i class="material-icons md-48">account_circle</i>
            <span>Admission</span>
        </div>
    </a>
    <a mat-raised-button color="accent" routerLink="/admission/readmission" class="link">
        <div class="content">
            <i class="material-icons md-48">account_circle</i>
            <span>Re-admission</span>
        </div>
    </a>
</div>
