mat-form-field {
  padding: 5px;
}
mat-tab-group {
  margin: 10px;
}
.country-code {
  width: 25px;
}
button {
  margin: 5px;
}

.span-break {
  display: table;
  margin: 10px;
  font-weight: 400;
}

.search-form {
  margin: 10px;
}
